/* ========================================FUNZONE============================================== */

/* HEADING */
.funzone-title {
  font-weight: 900;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px;
  color: rgb(238, 49, 165);
}

.funzone-subtitle {
  color: #baebde;
}

/* GAME CAROUSEL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

.game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.game-card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.game-card:nth-child(1) .game-box .game-content .game-a {
  background: #4a80ac;
}

.game-card:nth-child(2) .game-box .game-content .game-a {
  background: #e91e63;
}
.game-card:nth-child(3) .game-box .game-content .game-a {
  background: #23c186;
}
.game-card:nth-child(4) .game-box .game-content .game-a {
  background: #d032df;
}
.game-card:nth-child(5) .game-box .game-content .game-a {
  background: #f79b24;
}
.game-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.vamp-game {
  background-image: url("/src/Components/funzone/funzone-images/funzone-carousel/vamp.jpg");
  background-size: cover;
}
.originals-game {
  background-image: url("/src/Components/funzone/funzone-images/funzone-carousel/originals.jpg");
  background-size: cover;
}
.legacies-game {
  background-image: url("/src/Components/funzone/funzone-images/funzone-carousel/legacies.jpg");
  background-size: cover;
}
.teenwolf-game {
  background-image: url("/src/Components/funzone/funzone-images/funzone-carousel/teenwolf.jpg");
  background-size: cover;
}

.twilight-game {
  background-image: url("/src/Components/funzone/funzone-images/funzone-carousel/twilight.jpg");
  background-size: cover;
}

.game-box:hover {
  transform: translateY(-50px);
}

.game-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(235, 221, 221, 0.03);
}

.game-content {
  padding: 20px;
  text-align: center;
}

.game-content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.game-a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.game-a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

/* ===============================QUIZ PAGE ============================ */

.quiz-heading {
  margin: 20px;
  font-weight: 600;
  font-family: cursive;
  color: rgb(238, 124, 187);
}

.quiz-box {
  /* background-color: rgb(142, 223, 226); */
  background: url("/src/Components/funzone/funzone-images/quiz-background.jpg");
  background-size: 700px 428px;

  width: 700px;
  margin: 20px auto 20px auto;
  height: 428px;
  border-radius: 20px;
  transition: 0.5s;
  z-index: 10;
}

.ques-count {
  padding-top: 5px;
  color: rgb(238, 238, 238);
  font-weight: 800;
  z-index: 10;
}

.quiz-question {
  padding: 20px;
  font-size: 20px;
  font-family: cursive;
  background-color: rgb(53, 8, 86);
  font-weight: 500;
  width: 650px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
}

.options-container {
  list-style: none;
  margin-top: 10px;
}

.op {
  font-size: 20px;
}

.choice {
  width: 650px;
  margin-left: -35px;
  background-color: rgb(178, 108, 180);
  color: black;
  font-weight: 600;
  font-family: cursive;
  border-radius: 15px;
  padding: 2px;
}

.choice:hover {
  background-color: rgb(195, 173, 197);
}

.correct {
  background-color: rgb(51, 235, 51);
}
.correct:hover {
  background-color: rgb(51, 235, 51);
}

.incorrect {
  background-color: red;
  z-index: 10;
}
.incorrect:hover {
  background-color: red;
  z-index: 10;
}

.start-end {
  padding: 120px;
}

.start-end-title {
  padding-top: 20px;
  font-size: 27px;
  font-family: cursive;
  font-weight: 800;
  color: #e91e63;
  z-index: 10;
}

.result-body {
  padding-top: 20px;
  font-size: 20px;
  color: #c816d8;
  font-weight: 600;
  z-index: 10;
}

.score {
  color: white;
  font-weight: 800;
  z-index: 10;
}

.start-end-button {
  margin-top: 20px;
  z-index: 10;
}

@media (max-width: 750px) {
  .quiz-box {
    background-size: 600px 500px;
    width: 600px;
    height: 500px;
  }

  .quiz-question {
    margin-top: 20px;
    width: 550px;
  }

  .choice {
    width: 550px;
  }
}

@media (max-width: 650px) {
  .quiz-box {
    background-size: 450px 500px;
    width: 450px;
    height: 500px;
  }

  .quiz-question {
    font-size: 15px;
    margin-top: 20px;
    width: 400px;
  }

  .op {
    font-size: 15px;
  }

  .choice {
    width: 400px;
  }

  .start-end-title {
    margin-left: -50px;
    margin-right: -40px;
    margin-top: 50px;
    font-size: 25px;
  }
}
