/*============================= NAVBAR DESIGN=========================== */

.navbar {
  /* position: sticky; */
  height: 60px;
  background-color: black;
  padding: 0px;
  width: 100%;
  font-size: 15px;
  transition: all 0.3s ease;
  z-index: 9999;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  justify-content: flex-end;
}

.nav-link {
  color: #f3f3f3;
  font-weight: 600;
}
.title {
  font-size: 30px;
}

.icon {
  margin-left: 15px;
  display: block;
}

.mobile-menu-item {
  display: none;
}

/* =====================================NAVBAR TITLE DESIGN============================== */
.sign {
  position: relative;
  /* display: flex; */
  display: contents;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #33065e,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 15%;
  top: 50%;
  font-family: "Architects Daughter", cursive;
  text-transform: uppercase;
  font-size: 35px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #540bdd,
    -0.2rem 0.1rem 1rem #5e37ec, 0.2rem 0.1rem 1rem #1619e6,
    0 -0.5rem 2rem #2445ff, 0 0.5rem 3rem #0b50e6;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #540bdd,
      -0.2rem 0.1rem 1rem #5e37ec, 0.2rem 0.1rem 1rem #1619e6,
      0 -0.5rem 2rem #2445ff, 0 0.5rem 3rem #0b50e6;
  }
  28%,
  33% {
    color: #571c88;
    text-shadow: none;
  }
  82%,
  97% {
    color: #1815d8;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #24c6dbbb;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #bb3cbb, 0 0 1.5rem #1759e9,
      -0.2rem 0.1rem 1rem #402877, 0.2rem 0.1rem 1rem #191852,
      0 -0.5rem 2rem #470981, 0 0.5rem 3rem #0b2eca;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

/* ==========================MEDIA QUERIES=========================== */

@media (max-width: 1020px) {
  .nav-links {
    display: none;
    /* visibility: hidden; */
  }

  .nav-links-mobile {
    position: fixed;
    display: block;
    list-style: none;
    background-color: black;
    left: 0;
    top: 60px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  .nav-link {
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-item {
    display: block;
    font-size: 30px;
    background-color: inherit;
    color: white;
    width: 50px;
    border: none;
  }
}

@media (max-width: 550px) {
  .sign {
    font-size: 25px;
  }
}
